* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

.chatbox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}

.chatbox__top-container {
    background: inherit;
}

.chatbox__top-container__header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.chatbox__top-container__header__left-container {
    display: flex;
    align-items: center;
}

.chatbox__top-container__header__left-container__chatbot-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.chatbox__top-container__header__left-container__chatbot-title {
    font-size: 1.2rem;
    color: #3F3F45;
}

.chatbox__top-container__header__right-container {
    display: flex;
    align-items: center;
}

.chatbox__top-container__header__right-container__js-close-button,
.chatbox__top-container__header__right-container__js-refresh-button {
    color: #3F3F45;
    padding: 5px;
    background: transparent;
    cursor: pointer;
    width: 35px;
    height: 35px;
    content: '';
}

.chatbox__top-container__header__right-container__js-refresh-button {
    width: 30px;
    height: 30px;
}

.chatbox__top-container__header__right-container__js-close-button--visible {
    display: block;
}

.chatbox__top-container__header__right-container__js-close-button--hidden {
    display: none;
}

.chatbox__top-container__divider {
    position: fixed;
    top: 55pxs;
    left: 10px;
    width: calc(100vw - 20px);
    border-top: 1px solid lightgray;
}

.chatbox__top-container__js-messages {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    padding: 26px;
    justify-content: flex-start;
    height: max-content;
    -ms-overflow-style: none;  /* Hide scrollbar Internet Explorer 10+ */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

.chatbox__top-container__js-messages::-webkit-scrollbar {
    display: none;  /* Hide scrollbar Safari and Chrome */
}

.chatbox__top-container__js-messages__js-message {
    position: relative;
    max-width: min(80%, 655px);
    line-height: 24px;
    padding: 10px 20px;
    margin-bottom: 12px;
    border-radius: 25px;
    overflow-wrap: break-word;
}

.chatbox__top-container__js-messages__js-message::before,
.chatbox__top-container__js-messages__js-message::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.chatbox__top-container__js-messages__js-message--from-ai,
.chatbox__top-container__js-messages__js-message--typing-indicator,
 .chatbox__top-container__js-messages__js-message--error {
    background: #E5E5EA;
    color: black;
    align-self: flex-start;
}

.chatbox__top-container__js-messages__js-message--from-ai::before,
.chatbox__top-container__js-messages__js-message--typing-indicator::before,
 .chatbox__top-container__js-messages__js-message--error::before {
    position: absolute;
    left: -7px;
    width: 20px;
    background-color: #E5E5EA;
    border-bottom-right-radius: 16px;
}

.chatbox__top-container__js-messages__js-message--from-ai::after,
.chatbox__top-container__js-messages__js-message--typing-indicator::after,
 .chatbox__top-container__js-messages__js-message--error::after {
    position: absolute;
    left: -26px;
    width: 26px;
    background-color: white;
    border-bottom-right-radius: 10px;
}


.chatbox__top-container__js-messages__js-message--error {
    color: red;
}

.chatbox__top-container__js-messages__js-message--from-visitor {
    background-color: var(--visitor-message-color);
    color: white;
    align-self: flex-end;
}

.chatbox__top-container__js-messages__js-message--from-visitor::before {
    position: absolute;
    right: -7px;
    width: 20px;
    background-color: var(--visitor-message-color);
    border-bottom-left-radius: 16px 14px;
}

.chatbox__top-container__js-messages__js-message--from-visitor::after {
    position: absolute;
    right: -26px;
    width: 26px;
    background-color: white;
    border-bottom-left-radius: 10px;
}

.chatbox__top-container__js-messages__js-message--typing-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 44px;
    padding: 20px;
}

.chatbox__top-container__js-messages__js-message--typing-indicator span {
    background-color: #ccc; /* Start color */
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: pulse 1.4s ease-in-out infinite;
}

.chatbox__top-container__js-messages__js-message--typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}

.chatbox__top-container__js-messages__js-message--typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0%, 100% {
        background-color: #ccc; /* Light color */
    }
    50% {
        background-color: #333; /* Dark color */
    }
}

.chatbox__footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 15px 15px 15px 15px;
    background: white;
}

@media only screen and (max-width:639px) {
    .chatbox__footer__prompt-div {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        /* -ms-overflow-style: none;  /* Hide scrollbar Internet Explorer 10+ */
        /* scrollbar-width: none;  /* Hide scrollbar Firefox */
    }

    .chatbox__footer__prompt-div::-webkit-scrollbar {
        /* display: none;  /* Hide scrollbar Safari and Chrome */
    }
}

@media only screen and (min-width:640px) {
    .chatbox__footer__prompt-div {
        text-align: center;
    }
}

.chatbox__footer__prompt-div__prompt {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12.5px;
    font-size: 15px;
    background-color: var(--suggested-prompts-background-color);
    color: var(--suggested-prompts-text-color);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.chatbox__footer__prompt-div__prompt:not(:last-child) {
    margin-right: 10px;
}

.chatbox__footer__prompt-div__prompt:hover {
    opacity: 0.75;
}

.chatbox__footer__input-div {
    width: 100%;
    border: 2px solid #E4E4E7;
    padding: 5px 5px 5px 15px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.chatbox__footer__input-div__js-input {
    font-size: 15px;
    flex-grow: 1;
    outline: none;
    border: none;
}

.chatbox__footer__input-div__js-send-button {
    color: #3F3F45;
    padding: 0px;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbox__footer__input-div__js-send-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    outline: #3F3F45 solid 0px;
}